<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #outer {
            margin: 0 auto; /*center*/

        }

        #inner {
            /*move the whole container 50px to the left side*/
            margin-left:50px;

            /*or move the whole container 50px to the right side*/
            /*
            margin-left:50px;
            margin-right:-50px;
            */
        }
    </style>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <div th:replace="homelayout :: header"></div>

</head>
<body>
<div id="outer">
    <form id="inner"  action="#" th:action="@{/bookings/create}"  method="POST" th:object="${booking}">
        <div class="col-sm-4">
            <input type="hidden" th:field="*{id}" />
        </div>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Hotel Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="hotelName" th:field="*{hotelName}"   placeholder="Hotel Name">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Minimum Booking Allowed</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nbOfNights" th:field="*{nbOfNights}" placeholder="Minimum Booking Allowed">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Price Per Night</label>
            <div class="col-sm-4">
                <input  type="text" class="form-control" id="pricePerNight" th:field="*{pricePerNight}" placeholder="Price Per Night">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Add New Booking</button>

            </div>
        </div>
    </form>
</div>


</body>
<div th:replace="homelayout :: footer"></div>
</html>